.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: bold
}